//bootsrap  dans le fichier sass
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

//importer fortawsome dans  le fichier sass + les 3 differents type de categorie de fontawesome
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import  "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss" 
$body-bg: none

.bgimg
    background-image: url("../images/banner1.jpg")
    min-height: 650px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative


.container /*modif marg*/
    position: absolute
    margin: 20px
    width: auto
    margin-left: 300px 
  


.topnav 
    overflow: hidden




.topnav a 
    float: left
    color: #f2f2f2
    text-align: center
    padding: 14px 16px
    text-decoration: none
    font-size: 17px
  

.topnav a:hover 
    background-color: rgb(230, 22, 101)
    color: white
  


.bgopacity
    opacity: 0.62
    background-image: url("../images/bg-dark.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: absolute
    width: 100%
  
  


.sizeimgdark
    height: 650px


.mainbg
    background-image: url("../images/main_bg.jpg")
  


.mainbg h2
    font-family: 'Courgette', cursive
  
.icone i
    color: rgb(230, 22, 101)

.icone h2
    color: rgb(230, 22, 101)

    

.bottomdeco

    position: absolute




.partichef h2   
    
    font-family: 'Courgette', cursive
    padding-top: 90px

.partichef
    background-image: url("../images/team_background.jpg")
    position: absolute

.bg-imput
    background-color: yellow




